$colors: (
  main: hsl(240, 14%, 20%),
  main-light: lighten(#2b2b39, 2%),
  secondary: lighten(#2b2b39, 8%),
  second-dark: darken(#2b2b39, 0%),
  second-light: lighten(#2b2b39, 20%),
  second-lighter: lighten(#2b2b39, 30%),
  second-light-accent: lighten(#2b2b39, 14%),
  font: white,
  font-dark: #333,
  accent: #4a9edf,
  accent-gradient: #8a41ac,
  title-simple: rgb(199, 199, 199),
  danger: rgb(247, 120, 120),
  bg: rgba(43, 43, 57, 0.573),
  bg-light: hsla(240, 14%, 25%, 0.51),
);
$shadows: (
  main: (
    0px 2px 3px rgb(36, 35, 41),
  ),
);
$fonts: (
  main: (
    "Quicksand",
    sans-serif,
  ),
  secondary: (
    "Dancing Script",
    cursive,
  ),
);

@function getColor($color) {
  @return map-get($colors, $color);
}
@function getShadow($shadow) {
  @return map-get($shadows, $shadow);
}
@function getRadius($radius) {
  @return map-get($radiuses, $radius);
}
@function getPadding($padding) {
  @return map-get($paddings, $padding);
}
@function getTransition($transition) {
  @return map-get($transitions, $transition);
}
@function getGradient($gradient) {
  @return map-get($gradients, $gradient);
}
@function getFont($font) {
  @return map-get($fonts, $font);
}

$radiuses: (
  main: 3px,
);
$paddings: (
  main: 20px,
  secondary: 10px,
);
$transitions: (
  main: 0.3s ease,
  spin: 1s linear infinite,
  second: 0.6s ease,
);
$gradients: (
  main:
    linear-gradient(
      to bottom right,
      getColor(accent),
      getColor(accent-gradient)
    ),
);

%center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
%scrollbar {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-image: getGradient(main);
  }
}
%popup-fade-out {
  // @extend %center-position;
  position: fixed;
  top: calc(50% + 21px);
  left: 50%;
  box-shadow: getShadow(main);
  transition: getTransition(main);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.9);
  z-index: 10;
}
%popup-fade-in {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
