$colors: (
  main: #4c4c63,
  secondary: lighten(#4c4c63, 10%),
  second-dark: darken(#4c4c63, 1%),
  second-light: lighten(#4c4c63, 20%),
  second-light-accent: lighten(#4c4c63, 14%),
  font: white,
  active: whitesmoke,
  accent: #4a9edf,
  title-simple: rgb(199, 199, 199),
  danger: rgb(247, 120, 120),
);
$shadows: (
  main: (
    0px 2px 3px rgba(50, 49, 56, 0.769),
  ),
);
$radiuses: (
  main: 5px,
);
$paddings: (
  main: 20px,
);
$transitions: (
  main: 0.3s ease,
);

@function getColor($color) {
  @return map-get($colors, $color);
}
@function getShadow($shadow) {
  @return map-get($shadows, $shadow);
}
@function getRadius($radius) {
  @return map-get($radiuses, $radius);
}
@function getPadding($padding) {
  @return map-get($paddings, $padding);
}
@function getTransition($transition) {
  @return map-get($transitions, $transition);
}

%center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
