@import "base";

.chat {
  // @extend %center-position;
  width: 895px;
  height: 90vh;
  max-width: 100%;
  border-bottom: 1px solid getColor(secondary);
  display: flex;
  // box-shadow: getShadow(main);
  // transition: getTransition(main);
  // opacity: 0;
  // visibility: hidden;
  // transform: translate(-50%, -50%) scale(0.9);
  // z-index: 10;
  @extend %popup-fade-out;
  &__open {
    @extend %popup-fade-in;
  }
  &__sidebar {
    width: 320px;
    background-color: getColor(secondary);
  }
  &__main {
    flex: 1;
    border-right: 1px solid getColor(secondary);
    // border-bottom: 4px solid black;
  }
  &__toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: getColor(second-light-accent);
    padding: 5px 10px;
    border-bottom: 1px solid getColor(main);
    height: 47px;
  }
  &__btn_add {
    // display: flex;
    // align-items: center;
    // font-size: 1.2em;
    margin-right: 10px;
    // background-color: transparent;
    // border: 1px solid getColor(second-light);
    // padding: 2px;
    // border-radius: getRadius(main);
    // & * > {
    //   margin: auto;
    // }
  }
  &__empty_plug {
    display: none;
    color: getColor(second-light);
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0;
    &__active {
      display: block;
    }
  }
  &__stacks {
    height: calc(90vh - 48px);
    overflow-y: auto;
    @extend %scrollbar;
  }
  &__chats_stack {
  }
  &__searched_stack {
    max-height: 40vh;
    overflow-y: auto;
    transition: getTransition(main);
    border-bottom: 1px solid getColor(second-dark);
    @extend %scrollbar;
    &__close {
      border-width: 0;
      &::-webkit-scrollbar {
        width: 0em;
      }
    }
  }
  &__labels {
    background-color: getColor(second-light-accent);
    padding: 4px 0;
    text-align: center;
    font-size: 0.9em;
    color: getColor(title-simple);
    opacity: 1;
    visibility: visible;
    transition: getTransition(main);
    border-top: 1px solid getColor(second-lighter);
    border-bottom: 1px solid getColor(second-dark);
    height: 29px;
    &__close {
      opacity: 0;
      visibility: hidden;
      height: 0;
      padding: 0;
      border-width: 0px;
    }
  }
  &__thumbnail {
    @extend %flex-center;
    width: 40%;
    justify-content: flex-start;
    margin-right: 10px;
  }
  &__toolbar_form {
    @extend %flex-center;
    width: 60%;
  }
  &__wrapperImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  &__image {
    @extend %image;
    border-radius: 50%;
  }
  &__wrapperIcon {
    border-radius: 0px;
    display: flex;
  }
  &__icon {
    font-size: 1.4em;
    color: getColor(second-lighter);
    margin: auto;
  }
  &__title {
    font-size: 0.9em;
    margin-left: 10px;
  }
  &__btn_info {
    margin-right: 0;
    margin-left: 10px;
  }
}

.chat_link {
  background-color: transparent;
  display: flex;
  border-bottom: 1px solid getColor(second-light-accent);
  align-items: center;
  padding: 10px 18px;
  width: 100%;
  border-left: 2px solid transparent;
  transition: getTransition(main);
  background-color: getColor(secondary);
  &:hover {
    background-color: getColor(second-light-accent);
    .chat_link {
      &__type {
        background-color: getColor(second-light-accent);
        border-color: getColor(accent);
      }
      &__img_container {
        border-color: getColor(accent);
        &__active {
          border-color: getColor(danger);
        }
      }
    }
  }
  &__active {
    border-left-color: getColor(accent);
    background-color: getColor(second-light-accent);
    .chat_link {
      &__type {
        background-color: getColor(second-light-accent);
        border-color: getColor(accent);
      }
      &__img_container {
        border-color: getColor(accent);
        &__active {
          border-color: getColor(danger);
        }
      }
    }
  }
  &__img_container {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: relative;
    margin-right: 15px;
    border: 1px solid getColor(second-light);
    padding: 5px;
    transition: getTransition(main);
    &__active {
      border-color: getColor(danger);
    }
  }
  &__img {
    @extend %image;
    border-radius: 50%;
  }
  &__type {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 2;
    border: 1px solid getColor(second-light);
    border-radius: 50%;
    bottom: -1px;
    right: -2px;
    // padding: 4px;
    background-color: getColor(secondary);
    display: flex;
    transition: getTransition(main);
    & > * {
      margin: auto;
      font-size: 13px;
    }
  }
  &__info {
    flex: 1;
  }
  &__title_container {
    width: 100%;
    position: relative;
  }
  &__title_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  &__title {
    padding-bottom: 4px;
  }
  &__last_msg {
    text-align: left;
    font-size: 0.85em;
    color: getColor(title-simple);
    height: 17px;
    overflow: hidden;
    padding-right: 30px;
    animation: fade-in getTransition(second);
  }
  &__msg_username {
    color: getColor(accent);
    margin-right: 5px;
  }
  &__counter_msg {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: getTransition(main);
    border-radius: 50%;
    display: flex;
    width: 29px;
    height: 29px;
    background-color: getColor(second-lighter);
    font-size: 0.7em;
    display: flex;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    & > * {
      margin: auto;
    }
    &__active {
      visibility: visible;
      opacity: 1;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.msg_container {
  flex: 1;
  overflow-y: auto;
  position: relative;
  @extend %scrollbar;
}

.chat_msgWrapper {
  display: flex;
  flex-direction: column;
  height: calc(90vh - 48px);
}

.msg_anchor {
  height: 0px;
}

.message {
  width: 395px;
  max-width: 100%;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 1em;
  &__mine {
    margin-left: auto;
    flex-direction: row-reverse;
    // margin-left: 0px;
    margin-right: 10px;
    .message__container_content {
      background-color: getColor(accent);
      border-right-color: transparent;
      border-left: none;
      border-right: 1px solid getColor(font);
    }
    .message__username {
    }
    .message__unit {
      margin-left: 0px;
      margin-right: 5px;
    }
    .message__triange {
      left: auto;
      right: -5px;
      background-color: getColor(accent);
      border: none;
      border-top: 1px solid getColor(font);
      border-right: 1px solid getColor(font);
    }
    .message__content {
      background-color: getColor(accent);
    }
    .message__container_username {
      text-align: right;
    }
    .message__date {
      color: getColor(font);
    }
  }
  &__user {
  }
  &__user_link {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0px 7px;
  }
  &__ava {
    @extend %image;
  }
  &__unit {
    width: 100%;
    position: relative;
    margin-left: 5px;
    z-index: 3;
  }
  &__triange {
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: getColor(second-light-accent);
    z-index: 0;
    top: 50%;
    left: -5px;
    border-bottom: 1px solid getColor(accent);
    border-left: 1px solid getColor(accent);
    transform: translateY(-50%) rotate(45deg);
  }
  &__username {
    font-size: 0.9em;
    color: getColor(title-simple);
    text-decoration: none;
  }
  &__container_username {
  }
  &__container_content {
    border-left: 1px solid getColor(accent);
    border-radius: getRadius(main);
    background-color: getColor(second-light-accent);
    box-shadow: getShadow(main);
  }
  &__content {
    position: relative;
    display: block;
    padding: 5px;
    background-color: getColor(second-light-accent);
    z-index: 4;
    border-top-left-radius: getRadius(main);
    border-top-right-radius: getRadius(main);
  }
  &__date {
    padding: 2px;
    display: block;
    border-top: 1px solid getColor(second-light);
    font-size: 0.6em;
    text-align: center;
    color: getColor(title-simple);
  }
  &__unread_block {
    text-align: center;
    font-size: 0.9em;
    padding: 4px 0;
    background-color: getColor(secondary);
    margin-bottom: 10px;
  }
}

// .chat-controller {
//   display: flex;
//   flex-direction: column;
//   // height: calc(90vh - 47px);
// }

.create_msg {
  background-color: getColor(secondary);
  display: flex;
  padding: 15px 0;
  // align
  &__btn {
    font-size: 1.6em;
    background-color: transparent;
    display: flex;
    margin: 0px 15px;
    & > * {
      margin: auto;
    }
  }
  &__clip_file {
  }
  &__form {
    flex: 1;
    display: flex;
  }
  &__input {
    flex: 1;
    background-color: getColor(main);
    padding: 6px;
    border-radius: getRadius(main);
    border: 1px solid transparent;
    &::placeholder {
      color: getColor(second-lighter);
      font-size: 0.9em;
    }
    &:focus {
      border-color: getColor(accent);
    }
  }
  &__emoji {
  }
}

.msg_plug {
  @extend %center-position;
  @extend %flex-center;
  flex-direction: column;
  &__icon {
    font-size: 8em;
    color: getColor(second-light-accent);
  }
  &__title {
    font-size: 1.3em;
    margin: 1em 0;
    color: getColor(second-light-accent);
    font-weight: bold;
  }
  &__description {
    font-size: 0.9em;
    text-align: center;
    color: getColor(title-simple);
  }
}

.chatWrapper {
  position: relative;
  height: calc(90vh - 48px);
  padding: 15px;
  overflow-y: auto;
  background-color: getColor(main-light);
  @extend %scrollbar;
}
