@import "base";

%spinner {
  width: 70px;
  height: 70px;
  border: 5px solid getColor(bg-light);
  border-bottom-color: getColor(second-lighter);
  border-radius: 50%;
  animation: spin getTransition(spin);
}

.loader {
  @extend %flex-center;
  padding: 25px 0;
  &__spinner {
    @extend %spinner;
  }
}

.loader_data {
  position: absolute;
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  transition: getTansition(main);
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: 5;
  &__spinner {
    @extend %center-position;
    @extend %spinner;
    animation: spin-center getTransition(spin);
  }
  &__active {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-center {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
